@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --radius-radius: var(--radius);
}

:root {
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --color-red-500: #fb2c36;
  --color-red-900: #82181a;
  --color-green-500: #00c758;
  --color-cyan-500: #00b7d7;
  --color-sky-50: #f0f9ff;
  --color-blue-500: #3080ff;
  --color-purple-500: #ac4bff;
  --color-pink-500: #f6339a;
  --color-gray-500: #6a7282;
  --color-neutral-50: #fafafa;
  --color-neutral-200: #e5e5e5;
  --color-neutral-300: #d4d4d4;
  --color-neutral-400: #a1a1a1;
  --color-neutral-500: #737373;
  --color-neutral-600: #525252;
  --color-neutral-700: #404040;
  --color-neutral-800: #262626;
  --color-neutral-900: #171717;
  --color-neutral-950: #0a0a0a;
  --color-stone-50: #fafaf9;
  --color-stone-100: #f5f5f4;
  --color-stone-300: #d6d3d1;
  --color-stone-800: #292524;
  --color-stone-900: #1c1917;
  --color-stone-950: #0c0a09;
  --color-white: #fff;
  --spacing: .25rem;
  --container-md: 28rem;
  --container-3xl: 48rem;
  --container-4xl: 56rem;
  --text-xs: .75rem;
  --text-xs--line-height: calc(1 / .75);
  --text-sm: .875rem;
  --text-sm--line-height: calc(1.25 / .875);
  --text-base: 1rem;
  --text-base--line-height: calc(1.5 / 1);
  --text-lg: 1.125rem;
  --text-lg--line-height: calc(1.75 / 1.125);
  --text-xl: 1.25rem;
  --text-xl--line-height: calc(1.75 / 1.25);
  --text-2xl: 1.5rem;
  --text-2xl--line-height: calc(2 / 1.5);
  --text-3xl: 1.875rem;
  --text-3xl--line-height: calc(2.25 / 1.875);
  --text-5xl: 3rem;
  --text-5xl--line-height: 1;
  --text-7xl: 4.5rem;
  --text-7xl--line-height: 1;
  --text-8xl: 6rem;
  --text-8xl--line-height: 1;
  --text-9xl: 8rem;
  --text-9xl--line-height: 1;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-black: 900;
  --tracking-tighter: -.05em;
  --tracking-tight: -.025em;
  --tracking-wider: .05em;
  --leading-relaxed: 1.625;
  --ease-out: cubic-bezier(0, 0, .2, 1);
  --animate-pulse: pulse 2s cubic-bezier(.4, 0, .6, 1) infinite;
  --blur-xs: 4px;
  --blur-md: 12px;
  --aspect-video: 16 / 9;
  --default-transition-duration: .15s;
  --default-transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  --default-font-family: var(--font-arvo);
  --default-mono-font-family: var(--font-geist-mono);
  --color-foreground: var(--foreground);

  --background: lab(100% 0 0);
  --foreground: lab(2.75381% 0 0);
  --card: lab(100% 0 0);
  --card-foreground: lab(2.75381% 0 0);
  --popover: lab(100% 0 0);
  --popover-foreground: lab(2.75381% 0 0);
  --primary: lab(7.78201% -.0000149012 0);
  --primary-foreground: lab(98.26% 0 0);
  --secondary: lab(96.52% -.0000298023 .0000119209);
  --secondary-foreground: lab(7.78201% -.0000149012 0);
  --muted: lab(96.52% -.0000298023 .0000119209);
  --muted-foreground: lab(48.496% 0 0);
  --accent: lab(96.52% -.0000298023 .0000119209);
  --accent-foreground: lab(7.78201% -.0000149012 0);
  --destructive: lab(48.4493% 77.4328 61.5452);
  --border: lab(90.952% 0 -.0000119209);
  --input: lab(90.952% 0 -.0000119209);
  --ring: lab(66.128% -.0000298023 .0000119209);
  --chart-1: lab(57.1026% 64.2584 89.8886);
  --chart-2: lab(55.0223% -41.0774 -3.90277);
  --chart-3: lab(30.372% -13.1853 -18.7887);
  --chart-4: lab(80.1641% 16.6016 99.2089);
  --chart-5: lab(72.7183% 31.8672 97.9407);
  --sidebar: lab(98.26% 0 0);
  --sidebar-foreground: lab(2.75381% 0 0);
  --sidebar-primary: lab(7.78201% -.0000149012 0);
  --sidebar-primary-foreground: lab(98.26% 0 0);
  --sidebar-accent: lab(96.52% -.0000298023 .0000119209);
  --sidebar-accent-foreground: lab(7.78201% -.0000149012 0);
  --sidebar-border: lab(90.952% 0 -.0000119209);
  --sidebar-ring: lab(66.128% -.0000298023 .0000119209);
  --radius: 0.5rem;

  --animate-accordion-down: accordion-down 0.4s ease-out;
  --animate-accordion-up: accordion-up 0.4s ease-out;

}

.dark {
  --background: lab(2.75381% 0 0);
  --foreground: lab(98.26% 0 0);
  --card: lab(7.78201% -.0000149012 0);
  --card-foreground: lab(98.26% 0 0);
  --popover: lab(7.78201% -.0000149012 0);
  --popover-foreground: lab(98.26% 0 0);
  --primary: lab(90.952% 0 -.0000119209);
  --primary-foreground: lab(7.78201% -.0000149012 0);
  --secondary: lab(15.204% 0 -.00000596046);
  --secondary-foreground: lab(98.26% 0 0);
  --muted: lab(15.204% 0 -.00000596046);
  --muted-foreground: lab(66.128% -.0000298023 .0000119209);
  --accent: lab(15.204% 0 -.00000596046);
  --accent-foreground: lab(98.26% 0 0);
  --destructive: lab(63.7053% 60.745 31.3109);
  --border: lab(100% 0 0 / .1);
  --input: lab(100% 0 0 / .15);
  --ring: lab(48.496% 0 0);
  --chart-1: lab(36.9089% 35.0961 -85.6872);
  --chart-2: lab(66.9756% -58.27 19.5419);
  --chart-3: lab(72.7183% 31.8672 97.9407);
  --chart-4: lab(52.0183% 66.11 -78.2316);
  --chart-5: lab(56.101% 79.4328 31.4532);
  --sidebar: lab(7.78201% -.0000149012 0);
  --sidebar-foreground: lab(98.26% 0 0);
  --sidebar-primary: lab(36.9089% 35.0961 -85.6872);
  --sidebar-primary-foreground: lab(98.26% 0 0);
  --sidebar-accent: lab(15.204% 0 -.00000596046);
  --sidebar-accent-foreground: lab(98.26% 0 0);
  --sidebar-border: lab(100% 0 0 / .1);
  --sidebar-ring: lab(48.496% 0 0);
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@keyframes accordion-down {
  from {
    height: 0;
  }

  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes accordion-up {
  from {
    height: var(--radix-accordion-content-height);
  }

  to {
    height: 0;
  }
}